@model RaporUygulamasi.Models.musteriHizmetleri

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>musteriHizmetleri</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.tarih)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tarih)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.temsilci)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.temsilci)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.musteriAd)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.musteriAd)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.musteriSoyad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.musteriSoyad)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.musteriTelefon)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.musteriTelefon)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.musteriEmail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.musteriEmail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.musteriSikayeti)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.musteriSikayeti)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.musteriyeCevap)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.musteriyeCevap)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.musteriyeUlasildi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.musteriyeUlasildi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cihazModel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cihazModel)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cihazSeriNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cihazSeriNo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Raporlar.raporID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Raporlar.raporID)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
