@model IEnumerable<RaporUygulamasi.Models.musteriHizmetleri>


@{
    ViewBag.Title = "Index";
    Layout = null;
}

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>


    <link rel="icon" href="https://reeder.com.tr/media/favicon/default/favicon_-icon.ico" type="image/x-icon">
    <script src=":https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.19/js/jquery.dataTables.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="https://cdn.datatables.net/1.10.13/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.6.2/js/dataTables.buttons.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.6.2/js/buttons.flash.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.6.2/js/buttons.html5.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.6.2/js/dataTables.buttons.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.6.2/js/buttons.colVis.min.js"></script>





    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

    <link rel="stylesheet" href=" https://cdn.datatables.net/1.10.13/css/jquery.dataTables.min.css">

    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.21/css/jquery.dataTables.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/buttons/1.6.2/css/buttons.dataTables.min.css">
    <link href="~/Style/style.css" rel="stylesheet" />



    <script>









        $(document).ready(function () {



            // Setup - add a text input to each footer cell
            $('#example thead tr').clone(true).appendTo('#example thead');
            $('#example thead tr:eq(1) th').each(function (i) {
                var title = $(this).text();
                $(this).html('<input type="text" placeholder="' + title + ' Ara " />');

                $('input', this).on('keyup change', function () {
                    if (table.column(i).search() !== this.value) {
                        table
                            .column(i)
                            .search(this.value)
                            .draw();
                    }
                });
            });
            var table = $('#example').DataTable({


                dom: 'Bfrtip',
                buttons: [
                    {
                        extend: 'copyHtml5',
                        exportOptions: {
                            columns: [0, ':visible']
                        }
                    },
                    {
                        extend: 'excelHtml5',
                        exportOptions: {
                            columns: ':visible'
                        }
                    },
                    {
                        extend: 'pdfHtml5',
                        exportOptions: {
                            columns: [0, 1, 2, 5]
                        }
                    },
                    'colvis'
                ],

                orderCellsTop: true,
                fixedHeader: true,

                "language": {
                    "lengthMenu": "Bir sayfada _MENU_ kayıt göster",
                    "zeroRecords": "Aradığınız kriterlere uygun sonuç bulunamadı",
                    "info": "Sayfa _PAGE_   gösteriliyor _PAGES_ sayfadan    ",
                    "infoEmpty": "Kayıt bulunamadı",
                    "infoFiltered": "(Toplam _MAX_ total kayıt filtrelendi)",
                    "paginate": {
                        "previous": "Önceki",
                        "next": "Sonraki"

                    },
                    buttons: {
                        colvis: 'Sütunları seç'
                    },
                    "search": "Ara:"

                }


            });




            $.fn.dataTable.ext.search.push(
                function (settings, data, dataIndex) {
                    var min = $('#min').datepicker("getDate");
                    var max = $('#max').datepicker("getDate");
                    var startDate = new Date(data[2]);
                    if (min == null && max == null) { return true; }
                    if (min == null && startDate <= max) { return true; }
                    if (max == null && startDate >= min) { return true; }
                    if (startDate <= max && startDate >= min) { return true; }
                    return false;
                }
            );


            $("#min").datepicker({ onSelect: function () { table.draw(); }, changeMonth: true, changeYear: true });
            $("#max").datepicker({ onSelect: function () { table.draw(); }, changeMonth: true, changeYear: true });
            var table = $('#example').DataTable();

            // Event listener to the two range filtering inputs to redraw on input
            $('#min, #max').change(function () {
                table.draw();
            });



        });











    </script>
</head>
<body id="index">



    <nav class="navbar navbar navbar-inverse navbar-static-top example6">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar6">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand text-hide">
                    <img src="~/Content/img/Reeder.png" alt="logo" style=" height: 120%; width: 100px;  margin-left:50px;">
                </a>
            </div>
            <div id="navbar6" class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">

                    <li><a href="Login/login">Çıkış yap</a></li>


                </ul>
            </div>
            <!--/.nav-collapse -->
        </div>
        <!--/.container-fluid -->
    </nav>





    <div class="col-sm-12">

        <h2></h2>

        <BR>

        <div class="panel-group">
            <div class="panel panel-default">
                <div class="panel-heading"><b>Raporlar</b></div>
                <div class="panel-body">
                    <table border="0" cellspacing="5" cellpadding="5">
                        <tbody>
                            <tr>
                                <td>Başlangıç Tarihi:</td>
                                <td><input name="min" id="min" type="text" autocomplete="off"></td>
                            </tr>
                            <tr>
                                <td>Bitiş Tarihi:</td>
                                <td><input name="max" id="max" type="text" autocomplete="off"></td>
                            </tr>
                        </tbody>
                    </table>
                    <table id="example" class="display" style="width:100%">
                        <thead>
                            <tr>

                                <th>ID</th>
                                <th>Tarih</th>

                                <th>Temsilci</th>
                                <th>Musteri Ad</th>
                                <th>Musteri Soyad</th>
                                <th>Musteri Telefon</th>
                                <th>Musteri Email</th>
                                <th>Musteri Sikayeti</th>
                                <th>Musteriye Cevap</th>
                                <th>Musteriye Ulasildi Mi</th>

                                <th>Cihaz Model</th>
                                <th>Cihaz Seri No</th>




                            </tr>
                        </thead>
                        <tbody>


                            @foreach (var item in Model)
                            {
                                <tr>

                                    <td>
                                        @Html.DisplayFor(modelItem => item.ID)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.tarih)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.temsilci)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.musteriAd)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.musteriSoyad)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.musteriTelefon)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.musteriEmail)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.musteriSikayeti)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.musteriyeCevap)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.musteriyeUlasildi)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.cihazModel)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.cihazSeriNo)
                                    </td>




                                </tr>
                            }

                        </tbody>
                        <tfoot>
                            <tr>

                                <th>ID</th>
                                <th>Tarih</th>

                                <th>Temsilci</th>
                                <th>Musteri Ad</th>
                                <th>Musteri Soyad</th>
                                <th>Musteri Telefon</th>
                                <th>Musteri Email</th>
                                <th>Musteri Sikayeti</th>
                                <th>Musteriye Cevap</th>
                                <th>Musteriye Ulasildi Mi</th>

                                <th>Cihaz Model</th>
                                <th>Cihaz Seri No</th>



                            </tr>
                        </tfoot>
                    </table>
                </div>
                </div>
            </div>

                </div>






                <br /><br /><br />
                <br /><br /><br />
                <br /><br /><br />


                <br /><br /><br />
                <br /><br /><br />    <br />
                <br /><br /><br />
                <br /><br /><br />
                <br /><br /><br />


                <br /><br /><br />
                <br /><br /><br />    <br />




                <footer class="page-footer font-small blue">

                    <!-- Copyright -->
                    <div class="footer-copyright text-center py-3">
                        © 2020 Reeder

                    </div>
                    <!-- Copyright -->

                </footer>

</body>